{% extends "base.html" %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
    <h1>Reset your password</h1>
    {% comment %}
        Django reset password view sets the variable 'validlink' and puts it in the context of this template.
        As the name suggests, it indicates whether the rest password link is valid.
    {% endcomment %}
    {% if validlink %}
        <p>Please, enter your new password twice:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" Value="Change my password"></p>
        </form>
    {% else %}
        <p>The password rest link is ivalid, possibly because it has already been used. Please request a new password reset.</p>
    
    {% endif %}
{% endblock content %}